@keyframes showLater {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotateForever {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes diceShake {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(9deg);
  }

  30% {
    transform: rotate(-9deg);
  }

  45% {
    transform: rotate(9deg);
  }

  60% {
    transform: rotate(-9deg);
  }

  100% {
    transform: rotate(189deg);
  }
}
