.home-actions {
  width: 600px;
  margin: 45px auto;

  h1 {
    text-align: center;
    font-family: monospace;
  }
}

$puzzle-choice-width: 60px;
.puzzle-choices {
  padding: 12px;
  font-size: 0;
  font-family: monospace;
  text-align: center;

  .puzzle-spacer, .puzzle-choice {
    display: inline-block;
    width: $puzzle-choice-width;
    line-height: $puzzle-choice-width;
    margin-right: 15px;
    margin-bottom: 8px;
  }
}

.puzzle-choice {
  height: $puzzle-choice-width;
  font-size: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px dashed rgba(233, 233, 233, 0.5);
  color: black;
  text-decoration: none;
  vertical-align: top;
  position: relative;

  &.puzzle-choice-solved {
    border-color: transparent;
    background-color: rgba(152, 232, 186, 0.48);
  }

  &:hover {
    &:before, &:after {
      display: inline-block;
      position: absolute;
      animation-iteration-count: infinite;
      animation-name: rotateForever;
      animation-timing-function: linear;
      content: ' ';
      background-image: url('../assets/images/dashed-circle.svg');
    }

    &:before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      animation-duration: 10s;
    }

    &:after {
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      animation-direction: reverse;
      animation-duration: 12s;
    }
  }
}

.flex-centerer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.random-dice {
  width: 28px;
  height: 28px;
  background-color: white;
  position: relative;
  border: 1px solid black;
  transform: rotate(6deg);

  .puzzle-choice:hover & {
    animation-name: diceShake;
    animation-duration: 1s;
  }

  .pip {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: black;
    border-radius: 50%;
  }

  .pip1, .pip2 {
    top: 5px;
  }

  .pip1, .pip4 {
    left: 5px;
  }

  .pip4, .pip5 {
    bottom: 5px;
  }

  .pip2, .pip5 {
    right: 5px;
  }

  .pip3 {
    top: calc(50% - 1px);
    left: calc(50% - 1px);
  }
}
