html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: 100%;
}

h1 {
  font-size: 30px;
}

.text-center {
  text-align: center;
}

.solved-message {
  font-size: 32px;
  text-align: center;
}

.board {
  $cell-width: 20px;
  $cell-border: 1px solid grey;

  margin-top: 40px;
  text-align: center;
  font-size: 0;

  .col-hint, .row-hint {
    font-size: 10px;
    display: inline-block;
    width: $cell-width;
    height: $cell-width;
  }

  .col {
    display: inline-block;
    border-top: $cell-border;
    border-left: $cell-border;
    height: $cell-width;
    width: $cell-width;
    background-color: #ddd;

    &.on {
      background-color: green;
    }

    &:last-child {
      border-right: $cell-border;
    }
  }

  .row:last-child {
    .col {
      border-bottom: $cell-border;
    }
  }
}
