{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "no-unused-vars": ["error", {"args": "none"}]
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "injectIntoThis": true,
    "_": false
  }
}
