<div class='home-actions'>
  <h2 class="text-center">Choose a Puzzle</h2>

  <div class="puzzle-choices">
    <a ng-repeat='puzzle in puzzles'
       ng-class="{'puzzle-choice': true, 'puzzle-choice-solved': puzzle.completed}"
       fancy-link="{{'puzzles/' + puzzle.id}}">
      {{puzzle.id}}
    </a>
    <a class="puzzle-choice" href="random">
      <div class="flex-centerer">
        <dice></dice>
      </div>
    </a>
    <a class="puzzle-choice" href="settings">&#9881;</a>
    <div class="puzzle-spacer" ng-repeat="spacer in [1, 2, 3, 4]"></div>
  </div>
</div>
