<h2 class="text-center" style="margin: 30px 0;">Settings</h2>

<div class="settings">
  <h3>Local Storage</h3>
  <button ng-click="clearPartialPuzzleSolutions()"
          ng-disabled="numberOfPartialPuzzleSolutions() === 0"
          ng-bind="clearPartialPuzzleSolutionsText()"></button>

  <h3>Timers</h3>
  <label>
    <input type="checkbox" ng-model="properties.hideTimers"> Hide Timers
  </label>

  <h3>Random Puzzles</h3>
  <form name="sizeForm">
    <label>
      <input type="checkbox" ng-model="properties.specifySize"> Specify Size
    </label>

    <div ng-if="properties.specifySize">
      <input type="number"
             placeholder="?"
             ng-model="properties.size.rows">
      x
      <input type="number"
             placeholder="?"
             ng-model="properties.size.cols">
    </div>
  </form>
</div>

<div ng-if="properties.size.rows && properties.size.cols">
  <table class='board'>
    <tr>
      <td></td>
      <td class='col-hint'
          ng-repeat="col in arrayOfSize(properties.size.cols) track by $index">
        <div class='col-hint-number'
             class="off">1</div>
      </td>
    </tr>
    <tr class='row'
        ng-init="rowIndex = $index"
        ng-repeat="row in arrayOfSize(properties.size.rows) track by $index">
      <td class='row-hint'>
        <span class='row-hint-number'>1</span>
      </td>
      <td class='cell'
          ng-repeat="col in arrayOfSize(properties.size.cols) track by $index"
          class="off">
      </td>
    </tr>
  </table>
</div>

