<header>
  <h1 class='text-center'>ng-picross</h1>
</header>

<table class='board'>
  <tr>
    <td></td>
    <td class='col-hint' ng-repeat="hints in puzzle.colHints track by $index">
      <div class='col-hint-number' ng-repeat="num in hints track by $index">{{num}}</div>
    </td>
  </tr>
  <tr class='row' ng-init="rowIndex = $index" ng-repeat="row in puzzle.board track by $index">
    <td class='row-hint'>
      <span class='row-hint-number' ng-repeat="num in puzzle.rowHints[rowIndex] track by $index">{{num}}</span>
    </td>
    <td class='cell'
        ng-init="colIndex = $index"
        ng-repeat="col in puzzle.board[rowIndex] track by $index"
        ng-class="cellClasses(rowIndex, colIndex)"
        ng-click="clickedCell(rowIndex, colIndex)"
        right-click="rightClickedCell(rowIndex, colIndex)">
    </td>
  </tr>
</table>

<div class='solved-message' ng-if='solved'>
  <h1>SOLVED</h1>
  <button ng-click='randomPuzzle()'>Random</button>
</div>
