<div class="container">
  <div class="solver-input">
    <div class="form-group">
      Hints:
      <div><textarea ng-model="solverHints"></textarea></div>
      <small>(rows first, then columns, separate using two consecutive newlines)</small>
    </div>

    <div class="form-group">
      <label>
        <div>Debug depth:</div>
        <input ng-model="solverProps.debugDepth">
      </label>
    </div>

    <button class='btn' ng-click="solvePuzzle()">Check It!</button>
  </div>

  <div ng-if="solutions.length == 0" class="center-message">
    No solutions found...
  </div>

  <div ng-if="solutions.length > 1" class="center-message">
    More than one unique solution found...
  </div>

  <div ng-if="puzzle">
    <puzzle puzzle="puzzle" readonly></puzzle>
    <div class="center-message">
      Solver took {{solutionTime | number:2}} seconds.
    </div>
  </div>

  <div class='loading-spinner' ng-if='solving'>
    <span class='loading-spinner-inner'>*</span>
  </div>
</div>
